<!-- dataentry.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Data Entry</title>
    <script src="/js/darkmode-js.min.js"></script>
    <script>
        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
    </script>
</head>
<script>
    function searchTable() {
        // Declare variables
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("editData");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) { // Start at 1 to skip the header row
            tr[i].style.display = "none"; // Hide the row initially
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) { // Loop through all cells in the row
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = ""; // Show the row if the query matches any cell
                        break; // Stop searching through cells once a match is found
                    }
                }
            }
        }
    }
</script>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("editData");
        switching = true;
        dir = "asc"; // Set the sorting direction to ascending initially
        // Remove the sorting class from all headers
        var headers = table.getElementsByTagName("TH");
        for (i = 0; i < headers.length; i++) {
            headers[i].classList.remove("sort-asc", "sort-desc");
        }

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            // Loop through all table rows (except the first, which contains table headers)
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                if (x && y) {
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
        // Add the sorting class to the header that was clicked
        if (dir === "asc") {
            headers[n].classList.add("sort-asc");
        } else {
            headers[n].classList.add("sort-desc");
        }
    }
</script>

<body>
    <div id="topnav">
        <nav id="breadcrumbNav" aria-label="Breadcrumb">
            <ol>
                <% breadcrumbPath.forEach(function(crumb, index) { %>
                <li>
                    <a href="<%= crumb.href %>"><%= crumb.text %></a>
                    <% if (index < breadcrumbPath.length - 1) { %>
                    <span> | </span>
                    <% } %>
                </li>
                <% }); %>
            </ol>
        </nav>
        <!-- Time -->
        <div id="timeDisplay">
            Cloud Time: <%= moment(timeData.cloudTime).format('MM/DD/YYYY HH:mm:ss') %> | Device Time: <%= moment(timeData.localTime).format('MM/DD/YYYY HH:mm:ss') %>
        </div>
    </div>
    <div id="mainContent">
        <form action="/insert-demo-data" method="post">
            <table id="enterData">
                <tr>
                    <th class="centered-text" colspan="3">
                        <h2>Enter Demographic Data</h2>
                    </th>
                </tr>
                <tr>
                    <th class="dethsize"><label for="fname">First Name:</label></th>
                    <td class="detdsize"><input type="text" id="fname" name="fname" required placeholder="First Name"></td>
                    <td> </td>
                </tr>
                <tr>
                    <th><label for="lname">Last Name:</label></th>
                    <td><input type="text" id="lname" name="lname" required placeholder="Last Name"></td>
                    <td> </td>
                </tr>
                <th><label for="gender">Gender:</label></th>
                <td>
                    <select id="gender" name="gender" required>
                        <option value="">Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="pnts">Perfer not to say</option>
                    </select>
                </td>
                <td> </td>
                </tr>
                <tr>
                    <th><label for="age">Age Bracket:</label></th>
                    <td>
                        <select id="age" name="age" required>
                            <option value="">Age Bracket?</option>
                            <option value="Age 11-14">Age 11-14</option>
                            <option value="Age 15-17">Age 15-17</option>
                            <option value="Age 18-20">Age 18-20</option>
                            <option value="Adult">Adult</option>
                        </select>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <th><label for="council">Council:</label></th>
                    <td>
                        <select id="council" name="council" required>
                            <option value="">Select Council</option>
                            <option value="Longhorn">Longhorn</option>
                            <option value="Circle Ten">Circle Ten</option>
                            <option value="Other">Other</option>
                        </select>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <th><label for="district">District:</label></th>
                    <td>
                        <select id="district" name="district" required>
                            <option value="">Select District</option>
                            <option value="Arrowhead (#46)">Arrowhead (#46)</option>
                            <option value="Brazos Valley (#44)">Brazos Valley (#44)</option>
                            <option value="Chisholm Trail (#52)">Chisholm Trail (#52)</option>
                            <option value="Frontier Trails (#41)">Frontier Trails (#41)</option>
                            <option value="Heart O' Texas (#50)">Heart O' Texas (#50)</option>
                            <option value="Leon Valley (#51)">Leon Valley (#51)</option>
                            <option value="Lone Star (#48)">Lone Star (#48)</option>
                            <option value="Mustang (#43)">Mustang (#43)</option>
                            <option value="Pathfinder (#45)">Pathfinder (#45)</option>
                            <option value="Orion (#42)">Orion (#42)</option>
                            <option value="Santa Fe (#49)">Santa Fe (#49)</option>
                            <option value="Trinity Trails (#47)">Trinity Trails (#47)</option>
                            <option value="Other">Other</option>
                        </select>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <th><label for="unittype">Unit Type:</label></th>
                    <td>
                        <select id="unittype" name="unittype" required>
                            <option value="">Select Unit Type</option>
                            <option value="Troop-Boys">Troop-Boys</option>
                            <option value="Troop-Girls">Troop-Girls</option>
                            <option value="Troop B&G">Troop B&G</option>
                            <option value="Crew">Crew</option>
                            <option value="Other">Other</option>
                        </select>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <th><label for="unitnumber">Unit Number:</label></th>
                    <td><input type="number" id="unitnumber" name="unitnumber" required placeholder="Unit Number"></td>
                </tr>
                <tr>
                    <th><label for="race">Race Type:</label></th>
                    <td>
                        <select id="race" name="race" required>
                            <option value="">Race Length?</option>
                            <option value="6-Mile">6-Mile</option>
                            <option value="14-Mile">14-Mile</option>
                        </select>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <th><label for="boat">Boat Type:</label></th>
                    <td>
                        <select id="boat" name="boat" required>
                            <option value="">Select Boat Type</option>
                            <option value="Canoe">Canoe</option>
                            <option value="Kayak">Kayak</option>
                            <option value="Canoe-Personal">Canoe - Personal</option>
                            <option value="Kayak-Personal">Kayak Personal</option>
                        </select>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <th><label for="bibnumber">Bib Number:</label></td>
                    <td><input type="number" id="bibnumber" name="bibnumber" required placeholder="Bib Number"></td>
                    <td> </td>
                </tr>
                <tr>
                    <td colspan="3"><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
        <table id="Data" border="1">
            <tr>
                <th class="centered-text" colspan="8">
                    <h2>Edit Demographic Data</h2>
                </th>
            </tr>
            <tr>
                <th colspan="8">
                    <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for names..">
                </th>
            </tr>
        </table>
        <table id="editData" border="1">
            <tr>
                <!-- Column headers -->
                <th onclick="sortTable(0)">First Name</th>
                <th onclick="sortTable(1)">Last Name</th>
                <th onclick="sortTable(2)">Gender</th>
                <th onclick="sortTable(3)">Age Bracket</th>
                <th onclick="sortTable(4)">Council</th>
                <th onclick="sortTable(5)">District</th>
                <th onclick="sortTable(6)">Unit Type</th>
                <th onclick="sortTable(7)">Unit Number</th>
                <th onclick="sortTable(8)">Race Type</th>
                <th onclick="sortTable(9)">Boat Type</th>
                <th onclick="sortTable(10)">Bib Number</th>
                <th>Edit</th>
            </tr>
            <% demoData.forEach(function(row) { %>
            <tr>
                <td><%= row.fname %></td>
                <td><%= row.lname %></td>
                <td><%= row.gender %></td>
                <td><%= row.age %></td>
                <td><%= row.council %></td>
                <td><%= row.district %></td>
                <td><%= row.unittype %></td>
                <td><%= row.unitnumber %></td>
                <td><%= row.race %></td>
                <td><%= row.boat %></td>
                <td><%= row.bibnumber %></td>
                <td><a href="/editdata?uid=<%= row.uid %>" class="edit-button">Edit</a></td>
            </tr>
            <% }); %>
        </table>
    </div>
</body>

</html>