<!-- boats.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Data Entry</title>
    <script src="/js/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
</head>
<body>
    <div id="topnav">

    </div>
    <div id="mainContent">
        <form action="/update-boat-data" method="post">
            <table id="enterData">
                <tr>
                    <th class="centered-text" colspan="3">
                            <h1>Edit Bib Numbers for Boat <%= boatnumber %></h1>
                    </th>
                </tr>
                <tr>
                    <input type="hidden" name="boatnumber" value="<%= boatnumber %>">
                    <th class="dethsize"><label for="bibnumber1">Boat # <%= boatnumber %>: Bib # 1:</label></th>
                    <td class="detdsize"><input type="text" id="bibnumber1" name="bibnumber1" value="<%= currentBib1 %>"></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="dethsize"><label for="bibnumber2">Boat # <%= boatnumber %>: Bib # 2:</label></th>
                    <td class="detdsize"><input type="text" id="bibnumber2" name="bibnumber2" value="<%= currentBib2 %>"></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3"><input type="submit" value="Update Boat Paring"> <input type="button" class="cancelButton" value="Cancel" onclick="window.history.back();"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>