<!-- boats.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Data Entry</title>
</head>
<script>
    // Function to toggle dark mode
    function toggleTheme() {
        document.body.classList.toggle('dark-mode');
        localStorage.setItem('theme', document.body.classList.contains('dark-mode') ? 'dark' : 'light');
    }
    // Apply the saved theme on page load
    window.onload = () => {
        if (localStorage.getItem('theme') === 'dark') {
            document.body.classList.add('dark-mode');
        }
    };
</script>

<body>
    <div id="topnav">
        <!-- light/dark toggle link -->
        <div class="theme-toggle">
            <a href="#" onclick="toggleTheme(); return false;" class="toggle-theme-link">Toggle Dark/Light Mode</a>
        </div>
    </div>
    <div id="mainContent">

        <form action="/update-boat-data" method="post">
            <table id="enterData">
                <tr>
                    <th colspan="3">
                        <center>
                            <h1>Edit Bib Numbers for Boat <%= boatnumber %></h1>
                        </center>
                    </th>
                </tr>
                <tr>
                    <input type="hidden" name="boatnumber" value="<%= boatnumber %>">
                    <th class="dethsize"><label for="bibnumber1">Boat # <%= boatnumber %>: Bib # 1:</label></th>
                    <td class="detdsize"><input type="text" id="bibnumber1" name="bibnumber1" value="<%= currentBib1 %>"></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="dethsize"><label for="bibnumber2">Boat # <%= boatnumber %>: Bib # 2:</label></th>
                    <td class="detdsize"><input type="text" id="bibnumber2" name="bibnumber2" value="<%= currentBib2 %>"></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Update"><input type="button" value="Cancel" onclick="window.history.back();"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>