<!-- import.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Welcome</title>
    <script src="/js/darkmode-js.min.js"></script>
    <script>
        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
    </script>
    <script>
        function searchTable() {
            // Declare variables
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("editData");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 1; i < tr.length; i++) { // Start at 1 to skip the header row
                tr[i].style.display = "none"; // Hide the row initially
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) { // Loop through all cells in the row
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = ""; // Show the row if the query matches any cell
                            break; // Stop searching through cells once a match is found
                        }
                    }
                }
            }
        }
    </script>
    <script>
        function convertEpochToCT() {
            const epochInput = document.getElementById('epoch').value;
            const ctOutput = document.getElementById('ct-output');
            if (epochInput) {
                const date = new Date(epochInput * 1000);
                const options = { timeZone: 'America/Chicago', timeZoneName: 'short' };
                ctOutput.textContent = date.toLocaleString('en-US', options);
            } else {
                ctOutput.textContent = 'Please enter a valid epoch timestamp.';
            }
        }
    </script>
</head>

<body>
    <div id="topnav">
        <nav id="breadcrumbNav" aria-label="Breadcrumb">
            <ol>
                <% breadcrumbPath.forEach(function(crumb, index) { %>
                <li>
                    <a href="<%= crumb.href %>"><%= crumb.text %></a>
                    <% if (index < breadcrumbPath.length - 1) { %>
                    <span> | </span>
                    <% } %>
                </li>
                <% }); %>
            </ol>
        </nav>
        <!-- Time -->
        <div id="timeDisplay">
            Cloud Time: <%= moment(timeData.cloudTime).format('MM/DD/YYYY HH:mm:ss') %> | Device Time: <%= moment(timeData.localTime).format('MM/DD/YYYY HH:mm:ss') %>
        </div>
    </div>
    <div id="mainContent">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th class="centered-text" colspan=2>
                        <h2>Upload Data</h2>
                    </th>
                </tr>
                <tr>
                    <th class="dethsize">File:</th>
                    <td class="detdsize"><input type="file" name="file" required></td>
                </tr>
                <tr>
                    <th class="dethsize">Action:</th>
                    <td class="detdsize"><input type="submit" value="Upload"></td>
                </tr>
            </table>
        </form>
        <table id="filesOnDisk">
            <tr>
                <th class="centered-text" colspan=4>
                    <h2>Manipulate Data</h2>
                    <form id="epoch-to-ct" onsubmit="event.preventDefault(); convertEpochToCT();">
                        <label for="epoch">Epoch:</label>
                        <input type="number" id="epoch" name="epoch">
                        <button type="submit">Convert to Central Time</button>
                        <p id="ct-output"></p>
                    </form>
                </th>
            </tr>
            <tr>
                <th class="dethsize">Filename:</th>
                <th class="dethsize">Import:</th>
                <th class="dethsize">Download:</th>
                <th class="dethsize">Delete:</th>
            </tr>
            <% files.forEach(function(file) { %>
            <tr>
                <td class="detdsize"><%= file %></td>
                <td class="detdsize">future import form</td>
                <td class="detdsize"><a href="/download/<%= file %>">Download</a></td>
                <td class="detdsize">
                    <form action="/delete-file" method="post">
                        <input type="hidden" name="filename" value="<%= file %>">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            <% }); %>
        </table>
    </div>
</body>

</html>