<!-- index.ejs -->
<!DOCTYPE html>
<htmlkkk lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Welcome</title>
    <script src="/js/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
</head>
<body>
    <div id="topnav">
            <nav id="breadcrumbNav" aria-label="Breadcrumb">
                <ol>
                    <% breadcrumbPath.forEach(function(crumb, index) { %>
                    <li>
                        <a href="<%= crumb.href %>"><%= crumb.text %></a>
                        <% if (index < breadcrumbPath.length - 1) { %>
                        <span> | </span>
                        <% } %>
                    </li>
                    <% }); %>
                </ol>
            </nav>
            <!-- Time -->
            <div id="timeDisplay">
                Cloud Time: <%= moment(timeData.cloudTime).format('MM/DD/YY HH:mm') %> | 
                Device Time: <%= moment(timeData.localTime).format('MM/DD/YY HH:mm') %> |
                Epoch Time: <%= timeData.epochTime %>
            </div>
        </div>
    <div id="mainContent">
        <table>
            <tr>
                <th class="centered-text" colspan="6">
                    <h2>raw timer data</h2>
                </th>
            </tr>
                <tr>
                    <th class="dethsize">Tag ID</th>
                    <th class="dethsize">Start Time</th>>
                    <th class="dethsize">End Time</th>
                </tr>

                <% timeResults.forEach(function(result) { %>
                    <tr>
                        <td class="detdsize"><%= result.tag_id %></td>
                        <td class="detdsize"><%= result.first_timestamp %></td>
                        <td class="detdsize"><%= result.last_timestamp %></td>
                    </tr>
                <% }); %>
        </table>
        <table>
            <tr>
                <th class="centered-text" colspan="6">
                    <h2>Demo and Linker and Boat data</h2>
                </th>
            </tr>
                <tr>
                    <th class="dethsize">First Name</th>
                    <th class="dethsize">Last Name</th>
                    <th class="dethsize">Bibnumber</th>
                    <th class="dethsize">Boat Number </th>
                    <th class="dethsize">RFID Tag</th>
                </tr>

                <% demoBoatRFIDdata.forEach(function(row) { %>
                    <tr>
                        <td class="detdsize"><%= row.fname %></td>
                        <td class="detdsize"><%= row.lname %></td>
                        <td class="detdsize"><%= row.bibnumber %></td>
                        <td class="detdsize"><%= row.boatnumber %></td>
                        <td class="detdsize"><%= row.rfidtag.split('-')[1] %></td>
                    </tr>
                <% }); %>
        </table>

</html>