<!-- linker.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Link RFID to BIBNumber</title>
    <script src="/js/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("editData");
        switching = true;
        dir = "asc"; // Set the sorting direction to ascending initially
        // Remove the sorting class from all headers
        var headers = table.getElementsByTagName("TH");
        for (i = 0; i < headers.length; i++) {
            headers[i].classList.remove("sort-asc", "sort-desc");
        }

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            // Loop through all table rows (except the first, which contains table headers)
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                if (x && y) {
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
        // Add the sorting class to the header that was clicked
        if (dir === "asc") {
            headers[n].classList.add("sort-asc");
        } else {
            headers[n].classList.add("sort-desc");
        }
    }
</script>
<script>
    function searchTable() {
        // Declare variables
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("displayData");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) { // Start at 1 to skip the header row
            tr[i].style.display = "none"; // Hide the row initially
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) { // Loop through all cells in the row
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = ""; // Show the row if the query matches any cell
                        break; // Stop searching through cells once a match is found
                    }
                }
            }
        }
    }
</script>
</head>
<body>
    <div id="topnav">
            <nav id="breadcrumbNav" aria-label="Breadcrumb">
                <ol>
                    <% breadcrumbPath.forEach(function(crumb, index) { %>
                    <li>
                        <a href="<%= crumb.href %>"><%= crumb.text %></a>
                        <% if (index < breadcrumbPath.length - 1) { %>
                        <span> | </span>
                        <% } %>
                    </li>
                    <% }); %>
                </ol>
            </nav>
            <!-- Time -->
            <div id="timeDisplay">
                Cloud Time: <%= moment(timeData.cloudTime).format('MM/DD/YYYY HH:mm:ss') %> | Device Time: <%= moment(timeData.localTime).format('MM/DD/YYYY HH:mm:ss') %>
            </div>
        </div>
    <div id="mainContent">
        <form id="rfid-link-form" action="/link-rfid" method="post">
            <table id="linkData">
                <tr>
                    <th class="centered-text" colspan="3">
                        <h2>Link RFID Tag to Bib Number</h2>
                    </th>
                </tr>
                <tr>
                    <th class="dethsize"><label for="rfidtag">RFID Tag:</label></th>
                    <td class="detdsize"><input type="text" id="rfidtag" name="rfidtag" readonly></td>
                    <td> </td>
                </tr>
                <tr>
                    <th class="dethsize"><label for="bibnumber">BibNumber:</label></th>
                    <td class="detdsize"><input type="number" id="bibnumber" name="bibnumber"></td>
                    <td> </td>
                </tr>
                <tr>
                    <td colspan="3"><input type="submit" value="Link"></td>
                </tr>
            </table>
        </form>
        <table id="sortData" border="1">
            <tr>
                <th class="centered-text" colspan="2">
                    <h2>Display BIB to RFID Tag</h2>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for names..">
                </th>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <table id="editData" border="1">
                        <tr>
                            <th class="centered-text" colspan="2">
                                <h2>BIB to RFID</h2>
                            </th>
                        </tr>
                        <tr>
                            <th onclick="sortTable(1)">Bib Number</th>
                            <th onclick="sortTable(2)">RFID Tag</th>
                        </tr>
                        <% demoData.forEach(function(row) { %>
                        <tr>
                            <td><%= row.linkerbibnumber %></td>
                            <td><%= row.rfidtag %></td>
                        </tr>
                        <% }); %>
                    </table>
                </td>
                <td class="orphaned-bib-numbers-container">
                    <table id="orphanedBibNumbers" border="1">
                        <tr>
                            <th class="centered-text">
                                <h2>Orphaned Bib Numbers</h2>
                            </th>
                        </tr>
                        <tr>
                            <th>Bib Number</th>
                        </tr>
                        <% orphanedBibNumbers.forEach(function(bib) { %>
                        <tr>
                            <td><%= bib.bibnumber %></td>
                        </tr>
                        <% }); %>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <script>
        function updateRFIDTag(tagValue) {
            const rfidTagInput = document.getElementById('rfidtag');
            rfidTagInput.value = tagValue;
        }
        window.onload = () => {
            const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
            const host = window.location.hostname;
            const port = ':3000';
            const ws = new WebSocket(protocol + host + port);

            ws.onmessage = function(event) {
                const data = JSON.parse(event.data);
                if (data.rfidTag) {
                    updateRFIDTag(data.rfidTag);
                }
            };
        };
    </script>
</body>

</html>